/**
 * サイト内で扱うsass関数とキーフレームを定義するファイル。
 * _variables.scssで定義した変数を呼び出しやすい形に変換
 */

// color
@function color($key) {
  @return map-get($color, $key);
}

// breakpoint
@function breakpoint($key) {
  @return map-get($grid-breakpoints, $key);
}

// font
@function font($key) {
  @return map-get($font, $key);
}

// button size
@function btn-size($key) {
  @return map-get($button, $key);
}

// icon size
@function icon($key) {
  @return map-get($icon, $key);
}

// aspect ratio
@function aspect($key) {
  @return map-get($aspectRatio, $key);
}

// radius (円形)
@function radius($key) {
  @return map-get($radius, $key);
}

// interval (間隔)
@function interval($pixel) {
  @return $base-pixel * $pixel;  // 8px × $pixel
}

/**
 * @keyframe を定義
 */

// 要素ホバー時にアイコンを横揺れさせるアニメーション
@keyframes iconSlide {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(10%);
  }
  20% {
    transform: translateX(20%);
  }
  30% {
    transform: translateX(30%);
  }
  40% {
    transform: translateX(40%);
  }
  50% {
    transform: translateX(50%);
  }
  60% {
    transform: translateX(40%);
  }
  70% {
    transform: translateX(30%);
  }
  80% {
    transform: translateX(20%);
  }
  90% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
