/**
 * サイト内で扱うsass関数とキーフレームを定義するファイル。
 * _variables.scssで定義した変数を呼び出しやすい形に変換
 */

// color
@function color($key) {
  @return map-get($color, $key);
}

// breakpoint
@function breakpoint($key) {
  @return map-get($grid-breakpoints, $key);
}

/**
 * font size
 * @param 指定したいピクセル数を入力
 * @return 単位をremに変換し出力
 */
@function font($pixel) {
  @return ($pixel / $base-font) * 1rem;
}

// aspect ratio
@function aspect($key) {
  @return map-get($aspectRatio, $key);
}

// radius (円形)
@function radius($key) {
  @return map-get($radius, $key);
}

// interval (間隔)
@function interval($pixel) {
  @return $base-rem * $pixel;  // 1/2rem × $pixel
}

// pixel (固定値)
@function pixel($pixel) {
  @return $base-pixel * $pixel;  // 8px × $pixel
}

// デバイス幅 (displayマップ)
@function device($key) {
  @return map-get($display, $key);
}

// パーツ固定値
@function width($key) {
  @return map-get($width, $key);
}

/**
 * @keyframe を定義
 */

// 要素ホバー時にアイコンを横揺れさせるアニメーション
@keyframes iconSlide {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(10%);
  }
  20% {
    transform: translateX(20%);
  }
  30% {
    transform: translateX(30%);
  }
  40% {
    transform: translateX(40%);
  }
  50% {
    transform: translateX(50%);
  }
  60% {
    transform: translateX(40%);
  }
  70% {
    transform: translateX(30%);
  }
  80% {
    transform: translateX(20%);
  }
  90% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

// main visual text
@keyframes textIn {
  0% {
    transform: scale(2) translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

// fadeOut 上 (footer スクロールボタン)
@keyframes fadeoutTop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30%);
  }
}

@keyframes bound {
  0% {
    transform: translate(0%,-100%);
  }
  30% {
    transform: translate(0%,0%) scale(1.1, 1);
  }
  40% {
    transform: translate(0%,-40%);
  }
  55% {
    transform: translate(0%,0%) scale(1.1, 1);
  }
  60% {
    transform: translate(0%,-15%);
  }
  70% {
    transform: translate(0%,0%) scale(1.1, 1);
  }
  75% {
    transform: translate(0%,-5%);
  }
  95% {
    transform: translate(0%,0%) scale(1.1, 1);
  }
  100%{
    transform: scale(1, 1);
  }
}

@keyframes rotation{
  0% {
    transform:
      translateX(-50rem)
      rotate(0deg);
  }
  100% {
    transform:
      translateX(0)
      rotate(360 * 4 + 15deg);
  }
}

@keyframes loading {
  0%{
    height: 0;
  }
  50%{
    height: 80%;
  }
  100%{
    height: 0;
  }
}
