/**
 * サイト内で扱うsass関数とキーフレームを定義するファイル。
 * _variables.scssで定義した変数を呼び出しやすい形に変換
 */

// color
@function color($key) {
  @return map-get($color, $key);
}

// breakpoint
@function breakpoint($key) {
  @return map-get($grid-breakpoints, $key);
}

// font
@function font($key) {
  @return map-get($font, $key);
}

// button size
@function btn-size($key) {
  @return map-get($button, $key);
}

// icon size
@function icon($key) {
  @return map-get($icon, $key);
}

// aspect ratio
@function aspect($key) {
  @return map-get($aspectRatio, $key);
}

// radius (円形)
@function radius($key) {
  @return map-get($radius, $key);
}

// interval (間隔)
@function interval($pixel) {
  @return $base-pixel * $pixel;  // 8px × $pixel
}

// デバイス幅 (displayマップ)
@function device($key) {
  @return map-get($display, $key);
}

/**
 * @keyframe を定義
 */

// 要素ホバー時にアイコンを横揺れさせるアニメーション
@keyframes iconSlide {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(10%);
  }
  20% {
    transform: translateX(20%);
  }
  30% {
    transform: translateX(30%);
  }
  40% {
    transform: translateX(40%);
  }
  50% {
    transform: translateX(50%);
  }
  60% {
    transform: translateX(40%);
  }
  70% {
    transform: translateX(30%);
  }
  80% {
    transform: translateX(20%);
  }
  90% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

// fadeout 下方向
@keyframes fadeoutDown {
  0% {
    transform: translateY(0);
  }
  10% {
    opacity: 0.9;
    transform: translateY(10%);
  }
  20% {
    opacity: 0.8;
    transform: translateY(20%);
  }
  30% {
    opacity: 0.7;
    transform: translateY(30%);
  }
  40% {
    opacity: 0.6;
    transform: translateY(40%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(50%);
  }
  60% {
    opacity: 0.4;
    transform: translateY(60%);
  }
  70% {
    opacity: 0.3;
    transform: translateY(70%);
  }
  80% {
    opacity: 0.2;
    transform: translateY(80%);
  }
  90% {
    opacity: 0.1;
    transform: translateY(90%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

// 回転
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
