/**
 * サイト内で扱うsass関数を定義するファイル。
 * _variables.scssで定義した変数を呼び出しやすい形に変換
 */

// color
@function color($key) {
  @return map-get($color, $key);
}

// breakpoint
@function breakpoint($key) {
  @return map-get($grid-breakpoints, $key);
}

// font
@function font($key) {
  @return map-get($font, $key);
}

// button size
@function btn-size($key) {
  @return map-get($button, $key);
}

// icon size
@function icon($key) {
  @return map-get($icon, $key);
}

// aspect ratio
@function aspect($key) {
  @return map-get($aspectRatio, $key);
}

// radius (円形)
@function radius($key) {
  @return map-get($radius, $key);
}

// interval (間隔)
@function interval($pixel) {
  @return $base-pixel * $pixel;  // 8px × $pixel
}
