version: '3'

services:
  web:
    container_name: chuo_web
    build: ./docker/web
    volumes:
      - ./src:/var/www/html
      - ./docker/web/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8088:80"
    # environment:
    #   - NGINX_HOST=localhost
    #   - NGINX_PORT=80
    depends_on:
      - app
      - db
  app:
    container_name: chuo_app
    build: ./docker/app
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
  db:
    container_name: test_db
    build: ./docker/db
    ports:
      - "33306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: nJVxSSDw8rmuWPuV
      MYSQL_DATABASE: chuodb
      MYSQL_USER: chuo-user
      MYSQL_PASSWORD: chuo-pass
