/node_modules
# public配下を監視対象から除外]
src/public/css/app.css
src/public/js/app.js
src/public/mix-manifest.json
/public/favicon.ico
/public/.htaccess
/public/web.config
/public/robots.txt
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_store
