# public
/public/css/*.css
/public/js/*.js
/public/mix-manifest.json

# laravel
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml

# composer
/vendor

# node
/node_modules
npm-debug.log
yarn-error.log

# mac
.DS_store
